.custom-divider {
  flex-shrink: 0 !important;
  border-top: 0px solid rgba(0, 0, 0, 0.08) !important;
  border-right: 0px solid rgba(0, 0, 0, 0.08) !important;
  border-left: 0px solid rgba(0, 0, 0, 0.08) !important;
  height: 0.0625rem !important;
  border-bottom: none !important;
  opacity: 0.25 !important;
  background-color: transparent !important;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  ) !important;
}

.MuiPaper-root.MuiAppBar-root {
  background: rgba(255, 255, 255, 0.25) !important;
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  // border-radius: 10px !important;
  // border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

.bottom-logout-view {
  background-image: linear-gradient(
    195deg,
    rgb(73, 163, 241),
    rgb(26, 115, 232)
  ) !important;
  background-position-y: initial !important;
  background-repeat: initial !important;
  background-attachment: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  background-color: initial !important;
  color: rgb(255, 255, 255) !important;
  box-shadow: rgba(26, 115, 232, 0.15) 0rem 0.1875rem 0.1875rem 0rem,
    rgba(26, 115, 232, 0.2) 0rem 0.1875rem 0.0625rem -0.125rem,
    rgba(26, 115, 232, 0.15) 0rem 0.0625rem 0.3125rem 0rem !important;
  background-size: 150% !important;
  background-position-x: 25% !important;
  border-radius: 10px;
}
